/*-----------Fonts----------*/

@font-face {
    font-family: Noto_Sans_Bengali;
    src: url(../fonts/Noto-Sans-Bengali.ttf);
}
body{
    font-family: Noto_Sans_Bengali;
    background: #f0f0f0;
}


#outer_wrap .col-sm-2{
    padding: 0px 42px;
    background: #fff;
}
#outer_wrap .col-sm-10{
    padding-left: 0px;
    padding-right: 0px;
}

button:focus {outline:0;}

/*-----------------sidebar------------------*/

#sidebar{
/*    position: relative;*/
    
}
#sidebar .logo img{
    margin-bottom: 30px;
}
#sidebar .menu{
    
}
#sidebar .menu ul{
    padding-left: 0px;
}
#sidebar .menu ul li{
    list-style: none;
    color: #484848;
}
#sidebar .menu .bottom {
    margin-top: 520px;
}





/*---------------main_content-------------*/

#main_content{
    background: #f0f0f0;
}

/*--------header------*/

header{
    background: #f0f0f0;
    padding: 22px 25px;
    border-bottom: 1px solid #d2d2d2;
    border-radius: 0px;
}
header p{
    
}
header h4{
    
}
header img{
    float: right;
    margin-top: 10px;
}



a {
  text-decoration: none;
  line-height: 25px;
  color: black;
}



.nav_toggle button{
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 999;
}

/*------------------------content_wrap---------------------*/

.content_wrap{
    padding: 0px 35px;
}

/*-----------chart-----------------*/

#chart{
    background: #fff;
    margin: 35px 0px;
}
#chart .chart_text{
    text-align: center;
    background: #fff;
    padding-left: 30px;
    padding-right: 30px;
}
#chart .chart_text h4{
    font-family: Noto_Sans_Bengali;
    font-size: 16px;
    margin-top: 80px;
}
#chart .chart_text h3{
    font-family: Noto_Sans_Bengali;
    font-size: 16px;
}
#chart .chart_text h1{
    font-family: Noto_Sans_Bengali;
    font-size: 60px;
    color: #14518f;
}
#chart .chart_text p{
    font-family: Noto_Sans_Bengali;
    font-size: 14px;
    color: #999999;
}
#chart .chart_text h2{
    font-family: Noto_Sans_Bengali;
    font-size: 30px;
    margin-bottom: 80px;
}
.card{
    background: #d3e2f4;
    padding: 60px 0px;
}

/*-------------mapp--------------*/

#mapp .card {
    background: #fff;
    padding: 20px 30px;
}
#mapp .card h4{
    font-weight: bold;
}

.right_top{
    background: url(../images/ribbon.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.right_top h3{
    color: #fff;
    padding: 8px 30px;
    font-size: 40px;
    margin: 0;
    display: inline-block;
}
.right_top h4 {
    font-size: 16px;
    color: #333333;
    margin-top: 14px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 0px;
    display: inline-block;
}
.right_middle{
    margin-top: 25px;
}
.right_middle h4{
    color: #333333;
}
.right_middle small{
    color: #999999;
    font-size: 12px;
}

.right_bottom{
    margin-top: 30px;
    margin-bottom: 30px;
}



/*-----------------Responsive--------------*/


@media (min-width: 768px){
.col-sm-10 {
    width: 87%;
}
.col-sm-2 {
    width: 13%;
}
    
}

@media (max-width: 1110px){
    .right_top h3 {
    padding: 8px 25px;
    font-size: 35px;
    }
    .right_top h4 {
    font-size: 14px;
    margin-left: 26px;
    }
    
}
@media (max-width: 1050px){
    .right_top h3 {
    padding: 8px 25px;
    font-size: 30px;
    }
    .right_top h4 {
    font-size: 12px;
    margin-left: 15px;
    }
    
}
@media (max-width: 930px){
    .right_top h3 {
    padding: 3px 20px;
    font-size: 25px;
    }
    .right_top h4 {
    font-size: 11px;
    margin-left: 5px;
    margin-top: 10px;
    }
    
}

@media (max-width: 854px){
    
.col-sm-2 {
    position: absolute;
    z-index: 99;
    left: 0;
    display: block;
    transition: 0.4s;
    transform: scaleX(0);
    transform-origin: top left;
    background: #fff;
}    
.col-sm-2.active_tgle {
    left: 0;
    display: block;
    background: #fff;
    transform: scaleX(1);
}

.nav_toggle button{
    display: block;
    background: transparent;
    border: none;
    right: 20px;
}
.nav_toggle button i{
    font-size: 25px;
}
    .col-sm-10 {
    width: 100%;
}
.col-sm-2 {
    width: 25%;
}
#outer_wrap .col-sm-10{
    
}
header img {
    margin-right: 50px;
}


}

@media (max-width: 767px){

    .right_top{
        margin-top: 30px;
    }

    .right_top h3 {
    padding: 8px 25px;
    font-size: 35px;
    }
    .right_top h4 {
    font-size: 14px;
    margin-left: 26px;
    }
    
}
@media (max-width: 479px){
.col-sm-2 {
    width: 38%;
}
    
}